{% extends 'main.html' %}

{% block content %}
<div class="center">
    <div class="form-container books-form">
        <h3 class="books-form-header">Update Category</h3>
        <form method="post" action="{% url 'edit_category' category.id %}">
            {% csrf_token %}
            <div class="input-containter">
                <label class="input-label" for="category-name">Name: </label>
                <input value="{{ category.name }}" class="input" id="category-name" name="name" type="text" />
            </div>
            <div class="input-containter">
                <label class="input-label" for="category-description">Description: </label>
                <textarea class="input" id="category-description" name="description">{{ category.description }}</textarea>
            </div>
            <button class="submit-button">
                Update Category
            </button>
        </form>
    </div>
</div>
{% endblock %}
