{% extends 'auth/index.html' %}
{% load static %}

{% block content %}

<style>
    hr {
        width: auto;
        margin: auto;
    }
    #cont3 {
        width: 50%;
        border: 2em;
        margin: auto;
    }
</style>
<hr>
<div id="cont3">
<h3>Enter Your Password</h3>
    <form method="post">
        <div class="input-containter">
            {% csrf token %}
            {{form}}
            <label class="input-label" for="books-author">Password: </label>
            <input value="{{ password }}" class="input" id="books-author" name="password" type="password" />
            </div>
            <label class="input-label" for="books-author"> Confirm Password: </label>
            <input value="{{ password }}" class="input" id="books-author" name="password" type="password" />
            </div>
        <button>
            Submit
        </button>
    </form>
</div>

{% endblock %}