{% extends 'auth/index.html' %}
{% load static %}

<head>
    <title>Login</title>
</head>

 {% block content %}
        <div class="center">
            <div class="form-container books-form">
                <h3 class="books-form-header">Login</h3>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="alert alert-error">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p class="form-text">Don't have an account ? <a href="/signup">Sign Up</a></p>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="input-containter">
                        <label class="input-label" for="books-title">Username: </label>
                        <input value="{{ username }}" class="input" id="books-title" name="username" type="text" />
                    </div>
                    <div class="input-containter">
                        <label class="input-label" for="books-author">Password: </label>
                        <input value="{{ password }}" class="input" id="books-author" name="password" type="password" />
                    </div>
                    <a class="form-text" href="/reset_password">Forgot Password </a>
                    <br> <br>
                    <button>
                        Submit
                    </button>
                </form>
            </div>
        </div>
{% endblock %}
 

