{% extends 'auth/index.html' %}
{% load static %}

{% block content %}
<style>
    hr {
        width: auto;
        margin: auto;
    }
    #cont2 {
        width: 50%;
        border: 2em;
        margin: auto;
    }
</style>
<hr>
<div id="cont2">
    <h3>Password reset sent</h3>
    <p>We have emailed you instructions for setting your password, if an account exists with the email you entered. 
    You should receive them shortly.</p>
    <br>

    <p>If you do not receive an email, please make sure you have entered the correct address you registered with, and check the spam folder</p>
</div>

{% endblock %}