{% extends 'auth/index.html' %}
{% load static %}

    {% block content%}
    <style>
        hr {
            width: auto;
            margin: auto;
        }
        #cont {
            width: 50%;
            border: 2em;
            margin: auto;
        }
    </style>
        <hr>
        <div id="cont">
            <h1 class="title text-center">Reset Password</h1>
            <div class="mute-paragraph">
                Enter the email address associated with your account and we'll send you an email with instructions to reset your password.
            <form method="POST" action="{% url 'reset_password' %}">
                {% csrf_token %}
                <div class="input-containter">
                    <label class="input-label" for="email">Email: </label>
                    <input value="{{ email }}" class="input" id="email" name="email" type="email" />
                </div>
                <button>
                    Submit
                </button>
            </form>
        </div>
 
 
 
    {% endblock %}


